@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(100,100,100,0.1);
}

div.footer{
	margin-top:40px;
	padding:20px;
	background-color:rgba(255,255,255,0.2);
}
body{
	background-image:url(../images/bg.jpg);
	background-size:cover;  
    background-repeat: repeat-y;
    background-position: center center;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
@font-face {
   font-family: ProjectFont-1;
   src: url(../fonts/SignPainter-HouseScript.ttf);
}
@font-face {
   font-family: ProjectFont-2;
   src: url(../fonts/thaisanslite_r1.ttf);
}
@font-face {
   font-family: ProjectFont-3;
   src: url(../fonts/SR FahMai Normal.ttf);
}
@font-face {
   font-family: ProjectFont-4;
   src: url(../fonts/OratorStd.otf);
}
@font-face {
   font-family: ProjectFont-5;
   src: url(../fonts/bangna-new.ttf);
}
.font-1{
	font-family: ProjectFont-1;
}
.font-2{
	font-family: ProjectFont-2;
}
.font-3{
	font-family: ProjectFont-3;
}
.font-4{
	font-family: ProjectFont-4;
	font-weight: bold;
}
.font-5{
	font-family: ProjectFont-5;
	font-weight: bold;
}

.thumbnail img { min-height:150px; height:200px; }
.italic{
	font-style: italic;
}
.margin-auto{
	margin-left:auto;
	margin-right:auto;
	display:table;
}
.mid{
	text-align:center;
}
div.padding-top{
	padding-top:40px;	
}
div.margin-top{
	margin-top:20px;
}
div.margin-top-40px{
	margin-top:40px;
}
div.padding-top-20px{
	padding-top:20px;	
}
.margin-bot{
	margin-bottom:20px;	
}
.margin-bot40px{
	margin-bottom:40px;	
}
span.right-space{
	margin-right:5px;
}

img.about-us{
	width:60%;
	position:absolute;
	left:10%;
}
div.about-us-left{
	width:200px;
	position:absolute;
	left:40px;
}
div.about-us-right{
	width:200px;
	position:absolute;
	right:22%;
	top:450px;
}
div.about-us-header{
	margin-top:40px;
	margin-bottom:40px;
	padding-left:28%;
}
.font-SignPainter{
	font-family:
}
span.li-font-style{
	font-size:2em;
	color:#916039;
	font-weight: lighter;
}
span.icon-margin-right{
	margin-right:0.5em;
	font-size:1em;
	color:#916039;
}
img.logo-nav{
	float:right;
	margin-top:-10px;
}
.color-head{
	color:#666;
}
.card-img{
	width:90%;
	height:auto;
	margin-bottom:40px;
	
}
.contact-name{
	background-color : #faaf64;
}
.contact-email{
	background-color : #fdc689;
}
.contact-detail{
	background-color : #f0e1c1;
}

div.extrafooter{
	padding-bottom:200px;
}
dl.con-desc{
	background-color:rgba(255,255,255,0.5);
	padding:1em;
	border-radius: 5px;
}




